<circle-progress
  [percent]="progress"
  [radius]="size"
  [outerStrokeWidth]="size * .16"
  [innerStrokeWidth]="size * .08"
  outerStrokeColor="#3664F4"
  innerStrokeColor="#fff"
  [animation]="true"
  [animationDuration]="300"
  [showUnits]="false"
  [showTitle]="false"
  [subtitle]="lvl.toString()"
  [subtitleFontSize]="(size * .5).toString() + 'px'"
  subtitleColor="#ffffff"
  subtitleFontWeight="bold"
  [renderOnClick]="false"
  [startFromZero]="false"
  class="t-shadow-profile"
></circle-progress>