<p>profile-route works!</p>
<div class="text-center">
  <div class="profile">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      outerStrokeColor="#1f61cc"
      innerStrokeColor="#7346bd"
      [animation]="true"
      [animationDuration]="300"
      [showUnits]="false"
      [showTitle]="false"
      subtitle="20"
      subtitleFontSize="50"
      subtitleColor="#2e2e2e"
      subtitleFontWeight="bold"
      [renderOnClick]="false"
      class="t-shadow-profile"
    ></circle-progress>
  </div>
</div>